C 0 0 "GND" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VIN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VIN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CTRL" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CTRL" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "NC_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "NC_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "+VO" 0 -400 0 0 60 0 L
X "PIN_TEXT" "+VO" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "0V" 0 -500 0 0 60 0 L
X "PIN_TEXT" "0V" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "NC_2" 0 -600 0 0 60 0 L
X "PIN_TEXT" "NC_2" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
L 200 100 700 100 -1 0
L 700 -700 700 100 -1 0
L 700 -700 200 -700 -1 0
L 200 100 200 -700 -1 0
P "$LOCATION" "?" 750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

