C 1700 0 "+VIN" 1700 0 0 0 60 0 R
X "PIN_TEXT" "+VIN" 1470 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 0 1700 0 -1 0
C 1700 -100 "-VIN" 1700 -100 0 0 60 0 R
X "PIN_TEXT" "-VIN" 1470 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -100 1700 -100 -1 0
C 1700 -200 "REMOTE_ON/OFF" 1700 -200 0 0 60 0 R
X "PIN_TEXT" "REMOTE_ON/OFF" 1470 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1500 -200 1700 -200 -1 0
C 0 0 "+VOUT" 0 0 0 0 60 0 L
X "PIN_TEXT" "+VOUT" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "COMMON" 0 -100 0 0 60 0 L
X "PIN_TEXT" "COMMON" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "-VOUT" 0 -200 0 0 60 0 L
X "PIN_TEXT" "-VOUT" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
L 200 100 1500 100 -1 0
L 1500 -300 1500 100 -1 0
L 1500 -300 200 -300 -1 0
L 200 100 200 -300 -1 0
P "$LOCATION" "?" 1550 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

